<a href="https://colab.research.google.com/github/prakash22031997/machine-learning-roadmap/blob/master/Welcome_To_Colaboratory.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [16]:
credit_card_data = pd.read_csv('/content/creditcard.csv')

In [17]:
credit_card_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [18]:
credit_card_data.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
284802,172786.0,-11.881118,10.071785,-9.834783,-2.066656,-5.364473,-2.606837,-4.918215,7.305334,1.914428,...,0.213454,0.111864,1.014480,-0.509348,1.436807,0.250034,0.943651,0.823731,0.77,0
284803,172787.0,-0.732789,-0.055080,2.035030,-0.738589,0.868229,1.058415,0.024330,0.294869,0.584800,...,0.214205,0.924384,0.012463,-1.016226,-0.606624,-0.395255,0.068472,-0.053527,24.79,0
284804,172788.0,1.919565,-0.301254,-3.249640,-0.557828,2.630515,3.031260,-0.296827,0.708417,0.432454,...,0.232045,0.578229,-0.037501,0.640134,0.265745,-0.087371,0.004455,-0.026561,67.88,0
284805,172788.0,-0.240440,0.530483,0.702510,0.689799,-0.377961,0.623708,-0.686180,0.679145,0.392087,...,0.265245,0.800049,-0.163298,0.123205,-0.569159,0.546668,0.108821,0.104533,10.00,0
284806,172792.0,-0.533413,-0.189733,0.703337,-0.506271,-0.012546,-0.649617,1.577006,-0.414650,0.486180,...,0.261057,0.643078,0.376777,0.008797,-0.473649,-0.818267,-0.002415,0.013649,217.00,0

In [19]:
credit_card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [21]:
# missing value in each column
credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [22]:
#distribution of legit transanction and fraudulent transanction
credit_card_data['Class'].value_counts()

0    284315
1       492
Name: Class, dtype: int64

this data set is highly unbalanced

0 represents legit transanction

1 represents fraud transanction

In [23]:
#Separating the dataset for analysis
legit = credit_card_data[credit_card_data.Class==0]
fraud = credit_card_data[credit_card_data.Class==1]

In [24]:
print(legit.shape)
print(fraud.shape)

(284315, 31)
(492, 31)

In [25]:
#statistical measurea of the data
legit.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [26]:
fraud.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [28]:
#compare the values for both transactions
credit_card_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [41]:
#builing a sample dataset containing similar contribution of legit and fraud transaction
# total no. of fraud transaction == 492

legit_sample = legit.sample(n=492)

In [46]:
legit_sample.describe()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
count,492.000000,492.000000,492.000000,492.000000,492.000000,492.000000,492.000000,492.000000,492.000000,492.000000,...,492.000000,492.000000,492.000000,492.000000,492.000000,492.000000,492.000000,492.000000,492.000000,492.0
mean,93653.193089,0.002163,-0.065600,-0.089060,-0.099934,-0.061375,0.032807,0.006242,0.053233,-0.075929,...,0.024929,-0.032774,0.007589,0.009075,-0.001241,0.022202,0.004992,0.000179,106.596463,0.0
std,46858.648375,2.211175,1.812043,1.993999,1.397064,1.637794,1.340433,1.457295,1.179502,1.114055,...,0.574698,0.753937,0.545044,0.596580,0.522823,0.491762,0.351348,0.232433,342.591536,0.0
min,27.000000,-31.746663,-19.917165,-31.813586,-3.957695,-22.245025,-4.827882,-22.291962,-6.801477,-3.776069,...,-1.776087,-4.055161,-5.342157,-2.295247,-2.406426,-1.333348,-2.429631,-1.950189,0.000000,0.0
25%,55240.500000,-0.843138,-0.707679,-0.894711,-0.992629,-0.886076,-0.769587,-0.644790,-0.207783,-0.767385,...,-0.219460,-0.515313,-0.159777,-0.343075,-0.332548,-0.297256,-0.075405,-0.049051,6.987500,0.0
50%,84595.500000,0.030810,0.015233,0.210079,-0.221338,-0.112175,-0.304670,0.024434,0.013176,-0.139284,...,-0.026318,0.000865,0.001537,0.051770,0.021729,-0.039911,0.000466,0.014207,24.190000,0.0
75%,137699.000000,1.312415,0.751849,0.920891,0.705690,0.644203,0.411810,0.586780,0.325030,0.463257,...,0.176939,0.493353,0.155780,0.451259,0.347297,0.247013,0.084467,0.085276,78.392500,0.0
max,172672.000000,2.352241,17.418649,3.333713,6.590421,5.662571,5.939828,7.946898,17.941363,6.645526,...,5.320853,1.782836,5.256864,1.233763,2.205306,2.892000,2.114831,1.066446,6130.210000,0.0

In [47]:
new_dataset = pd.concat([legit_sample , fraud],axis=0)

In [49]:
new_dataset.describe()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
count,984.00000,984.000000,984.000000,984.000000,984.000000,984.000000,984.000000,984.000000,984.000000,984.000000,...,984.000000,984.000000,984.000000,984.000000,984.000000,984.000000,984.000000,984.000000,984.000000,984.000000
mean,87200.00000,-2.384893,1.779089,-3.561171,2.221048,-1.606300,-0.682465,-2.781245,0.311934,-1.328526,...,0.369259,-0.009362,-0.016360,-0.048028,0.020104,0.036925,0.087783,0.037923,114.403892,0.500000
std,47763.82373,5.579587,3.774165,6.269833,3.238999,4.259820,1.770355,5.897553,4.882996,2.305338,...,2.786000,1.183322,1.181239,0.560189,0.674117,0.481805,1.007620,0.421927,302.647388,0.500254
min,27.00000,-31.746663,-19.917165,-31.813586,-3.957695,-22.245025,-6.406267,-43.557242,-41.044261,-13.434066,...,-22.797604,-8.887017,-19.254328,-2.295247,-4.781606,-1.333348,-7.263482,-1.950189,0.000000,0.000000
25%,45691.75000,-2.867222,-0.228311,-5.113334,-0.321308,-1.774090,-1.582428,-3.060742,-0.206225,-2.294075,...,-0.158962,-0.524324,-0.238837,-0.392844,-0.325946,-0.269236,-0.065177,-0.054193,1.520000,0.000000
50%,80184.50000,-0.735125,0.943673,-1.414692,1.228508,-0.545525,-0.639666,-0.717619,0.153817,-0.778059,...,0.141018,0.021518,-0.031591,0.011969,0.049511,-0.014777,0.051434,0.035099,19.595000,0.500000
75%,133020.00000,1.068478,2.793742,0.347365,4.250632,0.499304,0.095458,0.278788,0.867939,0.053353,...,0.662005,0.564606,0.199228,0.382076,0.390254,0.322613,0.463804,0.224424,99.990000,1.000000
max,172672.00000,2.352241,22.057729,3.333713,12.114672,11.095089,6.474115,7.946898,20.007208,6.645526,...,27.202839,8.361985,5.466230,1.233763,2.208209,2.892000,3.052358,1.779364,6130.210000,1.000000

In [50]:
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
5379,5338.0,1.117163,0.630548,0.557476,2.655047,-0.019016,-0.481363,0.176557,-0.122117,0.217202,...,-0.130486,-0.279490,-0.035898,0.440711,0.491851,-0.061217,-0.067280,0.002978,24.53,0
169973,119953.0,2.257882,-0.518901,-2.345466,-0.933637,0.069128,-1.626668,0.302041,-0.490754,-1.149621,...,0.521818,1.538405,-0.201919,0.090304,0.673796,0.285374,-0.101388,-0.107036,1.79,0
130343,79335.0,1.057345,-0.099229,0.238257,0.661039,-0.326611,-0.500468,0.121699,-0.124835,0.027297,...,0.125307,0.259182,-0.126032,0.143099,0.426333,0.448199,-0.033606,0.023265,90.00,0
10044,15176.0,1.322603,0.397147,0.320365,0.620152,0.072907,-0.447264,0.005158,-0.277421,1.267757,...,-0.453869,-1.020428,0.034947,-0.500146,0.332909,0.105326,-0.051757,0.005833,1.98,0
34696,37788.0,1.249345,0.043469,0.867275,0.813772,-0.303554,0.523217,-0.650114,0.092598,0.564477,...,0.182958,0.661502,-0.267770,-0.952546,0.606685,-0.173961,0.083908,0.034042,15.11,0

In [51]:
new_dataset.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
279863,169142.0,-1.927883,1.125653,-4.518331,1.749293,-1.566487,-2.010494,-0.882850,0.697211,-2.064945,...,0.778584,-0.319189,0.639419,-0.294885,0.537503,0.788395,0.292680,0.147968,390.00,1
280143,169347.0,1.378559,1.289381,-5.004247,1.411850,0.442581,-1.326536,-1.413170,0.248525,-1.127396,...,0.370612,0.028234,-0.145640,-0.081049,0.521875,0.739467,0.389152,0.186637,0.76,1
280149,169351.0,-0.676143,1.126366,-2.213700,0.468308,-1.120541,-0.003346,-2.234739,1.210158,-0.652250,...,0.751826,0.834108,0.190944,0.032070,-0.739695,0.471111,0.385107,0.194361,77.89,1
281144,169966.0,-3.113832,0.585864,-5.399730,1.817092,-0.840618,-2.943548,-2.208002,1.058733,-1.632333,...,0.583276,-0.269209,-0.456108,-0.183659,-0.328168,0.606116,0.884876,-0.253700,245.00,1
281674,170348.0,1.991976,0.158476,-2.583441,0.408670,1.151147,-0.096695,0.223050,-0.068384,0.577829,...,-0.164350,-0.295135,-0.072173,-0.450261,0.313267,-0.289617,0.002988,-0.015309,42.53,1

In [52]:
new_dataset['Class'].value_counts()

0    492
1    492
Name: Class, dtype: int64

In [53]:
new_dataset.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,93653.193089,0.002163,-0.065600,-0.089060,-0.099934,-0.061375,0.032807,0.006242,0.053233,-0.075929,...,0.064454,0.024929,-0.032774,0.007589,0.009075,-0.001241,0.022202,0.004992,0.000179,106.596463
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

splittig the data into features and target

In [55]:
x = new_dataset.drop(columns='Class' , axis =1)
y = new_dataset['Class']

In [56]:
print(x)

            Time        V1        V2        V3        V4        V5        V6  \
5379      5338.0  1.117163  0.630548  0.557476  2.655047 -0.019016 -0.481363
169973  119953.0  2.257882 -0.518901 -2.345466 -0.933637  0.069128 -1.626668
130343   79335.0  1.057345 -0.099229  0.238257  0.661039 -0.326611 -0.500468
10044    15176.0  1.322603  0.397147  0.320365  0.620152  0.072907 -0.447264
34696    37788.0  1.249345  0.043469  0.867275  0.813772 -0.303554  0.523217
...          ...       ...       ...       ...       ...       ...       ...
279863  169142.0 -1.927883  1.125653 -4.518331  1.749293 -1.566487 -2.010494
280143  169347.0  1.378559  1.289381 -5.004247  1.411850  0.442581 -1.326536
280149  169351.0 -0.676143  1.126366 -2.213700  0.468308 -1.120541 -0.003346
281144  169966.0 -3.113832  0.585864 -5.399730  1.817092 -0.840618 -2.943548
281674  170348.0  1.991976  0.158476 -2.583441  0.408670  1.151147 -0.096695

              V7        V8        V9  ...       V20       V21       V22  \
5379    0.176557 -0.122117  0.217202  ... -0.210790 -0.130486 -0.279490
169973  0.302041 -0.490754 -1.149621  ... -0.167120  0.521818  1.538405
130343  0.121699 -0.124835  0.027297  ...  0.057568  0.125307  0.259182
10044   0.005158 -0.277421  1.267757  ... -0.058341 -0.453869 -1.020428
34696  -0.650114  0.092598  0.564477  ...  0.054639  0.182958  0.661502
...          ...       ...       ...  ...       ...       ...       ...
279863 -0.882850  0.697211 -2.064945  ...  1.252967  0.778584 -0.319189
280143 -1.413170  0.248525 -1.127396  ...  0.226138  0.370612  0.028234
280149 -2.234739  1.210158 -0.652250  ...  0.247968  0.751826  0.834108
281144 -2.208002  1.058733 -1.632333  ...  0.306271  0.583276 -0.269209
281674  0.223050 -0.068384  0.577829  ... -0.017652 -0.164350 -0.295135

             V23       V24       V25       V26       V27       V28  Amount
5379   -0.035898  0.440711  0.491851 -0.061217 -0.067280  0.002978   24.53
169973 -0.201919  0.090304  0.673796  0.285374 -0.101388 -0.107036    1.79
130343 -0.126032  0.143099  0.426333  0.448199 -0.033606  0.023265   90.00
10044   0.034947 -0.500146  0.332909  0.105326 -0.051757  0.005833    1.98
34696  -0.267770 -0.952546  0.606685 -0.173961  0.083908  0.034042   15.11
...          ...       ...       ...       ...       ...       ...     ...
279863  0.639419 -0.294885  0.537503  0.788395  0.292680  0.147968  390.00
280143 -0.145640 -0.081049  0.521875  0.739467  0.389152  0.186637    0.76
280149  0.190944  0.032070 -0.739695  0.471111  0.385107  0.194361   77.89
281144 -0.456108 -0.183659 -0.328168  0.606116  0.884876 -0.253700  245.00
281674 -0.072173 -0.450261  0.313267 -0.289617  0.002988 -0.015309   42.53

[984 rows x 30 columns]

In [57]:
print(y)

5379      0
169973    0
130343    0
10044     0
34696     0
         ..
279863    1
280143    1
280149    1
281144    1
281674    1
Name: Class, Length: 984, dtype: int64

split the data into training data and test data

In [58]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2, stratify=y, random_state=2)

In [59]:
print(x.shape, x_train.shape, x_test.shape)

(984, 30) (787, 30) (197, 30)

Model training (logistic regression)

In [60]:
model= LogisticRegression()

In [61]:
#training the logisticReression model with training data
model.fit(x_train, y_train)

LogisticRegression()

evaluation (Accuracy score)

In [62]:
#accuracy on training data
x_train_prediction = model.predict(x_train)
training_data_accuracy = accuracy_score(x_train_prediction , y_train)

In [69]:
print('Accuracy of Training data:', training_data_accuracy)

Accuracy of Training data: 0.9224904701397713

In [70]:
#accuracy on test data
x_test_prediction = model.predict(x_test)
test_data_accuracy = accuracy_score(x_test_prediction, y_test)

In [71]:
print('Accuracy on test data:',test_data_accuracy)

Accuracy on test data: 0.8984771573604061